/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Style du formulaire */
form {
    background-color: white;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Style des labels */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

/* Style des champs de saisie et de la liste déroulante */
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style du bouton */
button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

/* Effet au survol du bouton */
button:hover {
    background-color: #218838;
}
